body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ddd;   
}


header, footer {
    background-color: #c8c8c8;
    padding: 10px;
}

footer {
    min-height: 80px;
}

#intro {
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 20px;
    
}

#attribute {
    display: inline;
    color: blue;
    font-weight: 1000;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 218)
}

figure {
    margin: 40px;
}

.cardd {
  max-width: 600px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.cardd:hover {
  transform: scale(1.03);
}

.cardd img {
  width: 100%;
  display: block;
}

.cardd h3 {
  text-align: center;
  padding: 10px;
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

/* Expanded card */
.card-details {
  background: white;
  max-width: 500px;
  padding: 25px;
  border-radius: 12px;
  position: relative;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
}


/* #attribute:hover { */
    /* font-size: 50px; */
    /* transition: 3s; */
/* } */