body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ddd;   
}

header, footer {
    background-color: #c8c8c8;
    padding: 10px;
}

footer {
    min-height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

#intro {
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 20px;
    
}

#attribute {
    display: inline;
    color: blue;
    font-weight: 1000;
}

.contents {
    margin: 40px;
}

/* #attribute:hover { */
    /* font-size: 50px; */
    /* transition: 3s; */
/* } */